body {
  font-family: "courier new", courier
}

.container {
  position: relative;
  margin: 20px;
}

.setup.container section {
  display: inline-block;
  margin: 20px;
}

button {
  font-size: 24px;
  padding: 10px;
}

#HitsAndMisses {
  position: absolute;
  top: 0;
  left: 0;
}